.button{
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0em;
}

.button:hover{
    -fx-background-color: #6393E7;
    -fx-text-fill: #ffffff;
}

.button:pressed{
    -fx-background-color: #165DDB;
    -fx-text-fill: #ffffff;
}

.button:focused{
    -fx-background-color: #165DDB;
    -fx-border-color: #165DDB;
    -fx-text-fill: #ffffff;
    -fx-border-width: 0px 0px 0px 3px;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #282828;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 1 2;
}
.tab-pane .tab
{
    -fx-background-color: #282828;

}

.tab-pane .tab:selected
{
    -fx-background-color: #1E1E1E;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.text-field{
    -fx-text-fill: #ffffff !important;

}

/* outer combo-box text */
.combo-box .list-cell {
    -fx-text-fill: white;
}

/* combo-box list view text, not hovered or focused */
.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}

/* combo-box selected text */
.combo-box .list-view .list-cell:focused {
    -fx-text-fill: white;
}

/* combo-box hover text */
.combo-box .list-view .list-cell:hover {
    -fx-text-fill: white;
}
.textbook-button {
    -fx-background-color: #3A3A3A; /* Darker background */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 15px; /* Font size */
    -fx-padding: 10 15 10 15; /* Padding */
    -fx-background-radius: 5; /* Rounded corners */
    -fx-border-radius: 5; /* Rounded corners for border */
    -fx-border-color: #165DDB; /* Border color */
    -fx-border-width: 2; /* Border width */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 1); /* Shadow effect */
}

.textbook-button:hover {
    -fx-background-color: #4A4A4A; /* Lighter on hover */
    -fx-cursor: hand; /* Change cursor */
}

.textarea {
    -fx-background-color: #2E2E2E; /* Dark background */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-font-size: 14px; /* Font size */
    -fx-border-color: #4A4A4A; /* Optional border color */
    -fx-border-width: 1px; /* Optional border width */
    -fx-border-radius: 5; /* Rounded corners */
    -fx-padding: 5; /* Padding inside the TextArea */
}

.text-area {
    text-area-background: #282828 ;
    -fx-background-color: #282828; /* Dark background */
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-padding: 5; /* Padding inside the TextArea */
}
.text-area .content {
    -fx-background-color: text-area-background ;
}